<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <title>Doctor Page</title>
    <style>
        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
        main {
            flex: 1 0 auto;
        }
    </style>
</head>
<body>
<header>
    <nav>
        <div class="container">
            <div class="nav-wrapper">
                <a href="#" class="brand-logo"><i class="material-icons">local_hospital</i>HOSPITAL</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">

                    <li><a href="#" class="btn">Logout</a></li>
                </ul>
            </div>
            <div class="input-field col s12">
            </div>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="#" class="btn">Logout</a></li>
    </ul>
</header>
<main>
    <!-- Banner image-->
    <div class="container">
        <ul class="collection with-header">
            <li class="collection-header"><h4>Name Doctor</h4></li>
            <li class="collection-item ">
                <span class="title">Name</span>
                <a href="#" class="btn right red darken-4">complete assignment</a> </p>
                <p>Surname
                    <a href="#" class="btn right red darken-4">create assignment</a> </p>
                <p>Date
                    <a href="#" class="btn right red darken-4">define diagnosis</a> </p>
            </li>
            <li class="collection-item ">
                <span class="title">Name</span>
                <a href="#" class="btn right red darken-4">complete assignment</a> </p>
                <p>Surname
                    <a href="#" class="btn right red darken-4">create assignment</a> </p>
                <p>Date
                    <a href="#" class="btn right red darken-4">define diagnosis</a> </p>
            </li>
            <li class="collection-item ">
                <span class="title">Name</span>
                <a href="#" class="btn right red darken-4">complete assignment</a> </p>
                <p>Surname
                    <a href="#" class="btn right red darken-4">create assignment</a> </p>
                <p>Date
                    <a href="#" class="btn right red darken-4">define diagnosis</a> </p>
            </li>
        </ul>
    </div>

</main>

<!-- Footer -->
<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Hospital Project</h5>
                <p class="grey-text text-lighten-4" th:text="#{timeCreate}"><br>
                <p class="grey-text text-lighten-4" th:text="#{developer}"></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="https://github.com/Jossindev">GitHub</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/bohdan-boiko-07773b1a4/">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container" th:text="#{fakeHospital}"></div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
</script>
</body>
</html>