<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <meta charset="utf-8">
    <title>Hospital | Registration</title>
</head>

<body class="red lighten-2">
<div class="row">
    <div class="col m6 offset-m3 l4 offset-l4 s12">
        <div class="card-panel z-depth-5" style="min-height: 90vh; margin-top: 4vh; position: relative">
            <div class="valign-wrapper">
                <form action="/registration" method="POST" class="center-block" style="text-align: center">
                    <h1 th:text="#{register}"></h1>

                    <div class="input-field" style="margin-top: 40px">
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" id="name" name="name" >
                        <label for="name" th:text="#{name}"></label>
                    </div>
                    <div class="input-field" >
                        <i class="material-icons prefix">account_circle</i>
                        <input type="text" id="surname" name="surname">
                        <label for="surname" th:text="#{surname}"></label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <input type="email" id="email" name="email">
                        <label for="email" th:text="#{email}"></label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">date_range</i>
                        <input type="text" id="birthday" name="birthday">
                        <label for="birthday" th:text="#{birthday}"></label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        <input type="password" id="password" name="password">
                        <label for="password" th:text="#{pass}"></label>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">vpn_key</i>
                        <input type="password" id="confirm-password" name="confirm-password">
                        <label for="confirm-password" th:text="#{repeatPass}"></label>
                    </div>
                    <div class="left-align" style="margin-left: 1vh">
                        <p><strong> choose role</strong></p>
                        <div class="input-field">
                            <p>
                                <label>
                                    <input class="with-gap" name="role" type="radio" value="PATIENT" checked />
                                    <span th:text="#{patients}"></span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="with-gap" name="role" type="radio" value="DOCTOR" />
                                    <span th:text="#{doctors}"></span>
                                </label>
                            </p>
                            <p>
                                <label>
                                    <input class="with-gap" name="role" type="radio" value="ADMIN" />
                                    <span th:text="#{admins}"></span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <p th:text="#{haveAccount}"><a href="/login" th:text="#{login}"></a></p>
                    <div class="input-field center">
                        <button class="btn-large purple darken-4" type="submit" th:text="#{createAccount}"></button>
                    </div>
                </form>
                <a style="position: absolute; bottom: 2%" href="/" th:text="#{home}"></a>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>


